{% extends 'base.html.twig' %}

{% block title %}Registreren{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Registreer een nieuw account</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_start(registrationForm) }}
                <div class="mb-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>
                {{ form_end(registrationForm) }}

                <p class="mt-3">Heb je al een account? <a href="{{ path('app_login') }}">Log in</a></p>
            </div>
        </div>
    </div>
{% endblock %}
