{% extends 'base.html.twig' %}

{% block title %}Pizza's in {{ category.name }}{% endblock %}

{% block content %}
    <h1 class="mb-4">Pizza's in de categorie {{ category.name }}</h1>
    <div class="row">
        {% for pizza in pizzas %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{ asset('img/' ~ pizza.image) }}" class="card-img-top" alt="{{ pizza.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pizza.name }}</h5>
                        <p class="card-text">{{ pizza.description }}</p>
                        <p class="fw-bold">€{{ pizza.price|number_format(2, ',', '.') }}</p>
                        <a href="{{ path('pizza_show', {'id': pizza.id}) }}" class="btn btn-primary">Meer info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('pizza_categories') }}" class="btn btn-secondary mt-3">Terug naar categorieën</a>
{% endblock %}
